page-home {
//give background image properties
    .bg-image{
        background-image: url('../assets/images/homepage.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
//size of the buttons
    .button-size{
        width: 100px;
    }
}
