page-players {
    //give properties to the bacjground images of this page
    .player-image{
        background-image: url('../assets/images/playersBackground.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
